.context_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  pointer-events: none;
}

.context_menu_select {
  background-color: color-mix(
    in srgb,
    currentColor 13%,
    var(--background-color)
  );
  color: var(--color);
  height: var(--option-height);
  border-radius: var(--radius);
  border: 1px solid var(--color);
  font-weight: bold;
  width: fit-content;
  box-shadow: 0px 0px 8px 1px var(--color);
  pointer-events: all;
}

.context_menu_select:hover {
  background-color: color-mix(
    in srgb,
    currentColor 17%,
    var(--background-color)
  );
}

.context_menu_select_item {
  font-weight: bold;
}

.context_menu_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  pointer-events: all;
}

.context_menu_items > * {
  background-color: var(--background-color);
  color: var(--color);
  box-shadow: 0px 0px 8px 1px var(--color);
}

/* Hide all options if disabled */

body:has([id^="parts"][id$="enabled"] [data-value="false"]) {
  [id^="parts"][id$="inheritance"],
  [id^="parts"][id$="source"],
  [id^="parts"][id$="color"],
  [id^="parts"][id$="saturationLimit"],
  [id^="parts"][id$="darkness"],
  [id^="parts"][id$="brightness"] {
    display: none;
  }
}

/* Hide options if inheritane is off */

body:not(:has([id^="parts"][id$="inheritance"] [data-value="OFF"])) {
  [id^="parts"][id$="source"],
  [id^="parts"][id$="color"],
  [id^="parts"][id$="saturationLimit"],
  [id^="parts"][id$="darkness"],
  [id^="parts"][id$="brightness"] {
    display: none;
  }
}

/* Hide color if source is not color */

body:not(:has([id^="parts"][id$="source"] [data-value="COLOR"])) {
  [id^="parts"][id$="color"] {
    display: none;
  }
}

/* Hide options if source is color */

body:has([id^="parts"][id$="source"] [data-value="COLOR"]) {
  [id^="parts"][id$="saturationLimit"],
  [id^="parts"][id$="darkness"],
  [id^="parts"][id$="brightness"] {
    display: none;
  }
}

/* Hide options if source is auto */

body:has([id^="parts"][id$="source"] [data-value="AUTO"]) {
  [id^="parts"][id$="color"],
  [id^="parts"][id$="saturationLimit"],
  [id^="parts"][id$="darkness"],
  [id^="parts"][id$="brightness"] {
    display: none;
  }
}
