.color_picker_wrapper {
  border: 1px solid var(--color);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0px 0px 24px 4px var(--color);
}

.picker_wrapper {
  background-color: var(--background-color) !important;
}

.picker_arrow {
  display: none !important;
}

.picker_editor {
  height: var(--option-height) !important;
  border: 1px solid var(--color) !important;
  border-radius: var(--radius) !important;
  overflow: hidden;
}

.picker_editor > input {
  background-color: color-mix(
    in srgb,
    currentColor 13%,
    var(--background-color)
  );
  color: var(--color) !important;
  box-shadow: none !important;
  text-align: center !important;
}

.picker_sample {
  height: var(--option-height) !important;
  border: 1px solid var(--color) !important;
  border-radius: var(--radius) !important;
  overflow: hidden !important;
  box-shadow: none !important;
}

.picker_done {
  display: none;
}
