.number_input > input {
  height: var(--option-height);
  border-radius: 0 var(--radius) var(--radius) 0;
  border: none;
  background-color: color-mix(in srgb, currentColor 13%, var(--background-color));
  color: var(--color);
  font-family: var(--font-family);
  -moz-appearance: textfield;
  appearance: textfield;
  width: 3em;
  margin: 0;
  text-align: center;
}

.number_input > input:hover {
  background-color: color-mix(in srgb, currentColor 17%, var(--background-color));
}

.number_input > input:focus {
  outline: none;
}
