html {
  --background-color: #f0f0f4; /* light 20 */
  --color: #42414d; /* dark 30 */
}

body {
  background-color: var(--background-color);
  color: var(--color);
  padding: 4px;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  padding: 4px;
}

.group.collapsible {
  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

button {
  background-color: color-mix(in srgb, currentColor 13%, transparent);
  color: var(--color);
  border-radius: 4px;
  border-width: 0;
  padding: 4px 8px;
  font-weight: bold;
}

button:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent);
}

select {
  background-color: color-mix(in srgb, currentColor 13%, transparent);
  color: var(--color);
  border-radius: 4px;
  border-width: 0;
  padding: 4px 0 4px 8px;
}

select:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent);
}

input[type="color"] {
  border: unset;
  outline: unset;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px var(--color);
}

input[type="number"] {
  background-color: color-mix(in srgb, currentColor 13%, transparent);
  color: var(--color);
  border-radius: 4px;
  border-width: 0;
  padding: 4px 0 4px 8px;
}

input[type="number"] {
  background-color: color-mix(in srgb, currentColor 17%, transparent);
}

details > summary {
  margin-bottom: 4px;
  font-weight: 500;
}

details > .row {
  margin-left: 24px;
}

#reset_button {
  width: fit-content;
}

#browser_preview {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 4px;
  width: 100%;
  min-width: 400px;
  aspect-ratio: 16 / 9;
  background-color: var(--background-color);
}

#navigator {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  flex: 1;
  background-color: var(--background-color);
}

#frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px;
  flex: 1;
  padding: 2px 5px;
  background-color: var(--background-color);
}

#tab_selected {
  border: solid 1px;
  border-radius: 2px;
  width: 10%;
  height: 90%;
  background-color: var(--background-color);
}

#toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px;
  gap: 5px;
  background-color: var(--background-color);
}

.toolbar-button {
  border-radius: 100%;
  height: 70%;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
}

.placeholder {
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

#toolbar_field {
  flex: 1;
  border: solid 1px;
  border-radius: 2px;
  height: 90%;
  background-color: var(--background-color);
}

#popup {
  position: absolute;
  width: 15%;
  aspect-ratio: 1 / 1;
  border: 1px solid;
  border-radius: 4px;
  right: calc(0% + 1px);
  top: calc(100% - 1px);
  background-color: var(--background-color);
}

#popup.hidden {
  display: none;
}

#browser {
  display: flex;
  flex-direction: row;
  flex: 6;
  background-color: var(--background-color);
}

#sidebar {
  display: flex;
  border-right: solid 1px;
  flex: 1;
  background-color: var(--background-color);
}

#appcontent {
  display: flex;
  flex: 4;
  background-color: color-mix(in srgb, currentColor 13%, transparent);
}

#rickroll {
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

.colorized {
  background-color: red !important;
}

#context_menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px var(--color);
}

#context_menu.hidden {
  display: none;
}

#context_menu:not(:has(.custom_enabled:checked))
  > .custom_options {
  display: none;
}

#context_menu_title {
  font-weight: bold;
}
