.context_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
  background-color: transparent;
}

.context_menu_options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.context_menu_parts {
  background-color: var(--background-color);
  color: var(--color);
  height: var(--option-height);
  border-radius: var(--radius);
  border: 1px solid var(--color);
  font-weight: bold;
  width: fit-content;
  box-shadow: 0px 0px 8px 1px var(--color);
}

.context_menu_options .option {
  background-color: var(--background-color);
  color: var(--color);
  box-shadow: 0px 0px 8px 1px var(--color);
}

.context_menu:not(:has(select[data-value="inheritance_off"]))
  .option_inherit_from_off {
  display: none;
}

.context_menu:not(:has(select[data-value="own_color"]))
  .option_source_own_color {
  display: none;
}

.context_menu_title {
  align-self: center;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--color);
}
