.dropdown {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-left: 8px;
  padding-right: 4px;
  height: 100%;
  cursor: default;
  background-color: color-mix(in srgb, currentColor 13%, transparent);
}

.dropdown:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent);
}

.dropdown_label {
  white-space: nowrap;
}

.dropdown_arrow {
  height: 60%;
  color: var(--color);
}

.dropdown_popup {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.dropdown_item {
  padding: 4px;
  cursor: default;
  border: 1px solid var(--color);
  border-radius: var(--radius);
  box-shadow: 0px 0px 8px 1px var(--color);
  background-color: var(--background-color);
  white-space: nowrap;
}

.dropdown_item:hover {
  font-weight: bold;
}
