.dropdown {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 4px;
  height: 100%;
  cursor: default;
  background-color: color-mix(in srgb, currentColor 13%, transparent);
}

.dropdown:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent);
}

.dropdown_label {
  white-space: nowrap;
}

.dropdown_arrow {
  height: 10px;
  width: 10px;
  color: var(--color);
}

.dropdown_arrow > svg {
  display: block;
  margin: auto;
}

.dropdown_popup {
  position: absolute;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color);
  border-radius: var(--radius);
  box-shadow: 0px 0px 8px 1px var(--color);
  background-color: var(--background-color);
}

.dropdown_item {
  padding: 8px;
  cursor: default;
  white-space: nowrap;
}

.dropdown_item + .dropdown_item {
  border-left: 1px solid;
  border-color: color-mix(in srgb, currentColor 50%, transparent);
}

.dropdown_item:hover {
  font-weight: bold;
}
