#firefox {
  --group-shadow: 0px 0px 8px 4px var(--color);
  --toolbar-button-shadow: 0px 0px 4px 2px var(--color);
  --transition-s: 0.2s;
  --text-gap: 6px;

  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: var(--radius);
  width: var(--body-width);
  aspect-ratio: 16 / 9;
  background-color: var(--background-color);
}

.group {
  border: 1px solid;
  transition: box-shadow var(--transition-s);
}

.group:hover:not(:has(.group:hover, .toolbar_button:hover)) {
  box-shadow: var(--group-shadow);
  z-index: 1;
}

#navigator {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}

#titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px 5px;
  background-color: var(--background-color);
  box-sizing: border-box;
}

#tab_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 10%;
  height: 90%;
  background-color: var(--background-color);
}

#toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px;
  gap: 5px;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.toolbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 90%;
  aspect-ratio: 1 / 1;
  color: var(--color);
  transition: box-shadow var(--transition-s);
}

body:has(.toolbar_button:hover) .toolbar_button {
  box-shadow: var(--toolbar-button-shadow);
  z-index: 1;
}

.toolbar_button > svg {
  height: 80%;
}

.placeholder {
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

#toolbar_field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 2px;
  width: 50%;
  height: 90%;
  background-color: var(--background-color);
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

#popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--text-gap);
  position: absolute;
  width: 18%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius);
  right: calc(0% + 1px);
  top: calc(100% - 1px);
  background-color: var(--background-color);
  padding-top: 2%;
  z-index: 2;
  box-sizing: border-box;
}

#popup.hidden {
  display: none;
}

#bookmarks {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.7;
  padding-left: 2px;
  gap: 5px;
  background-color: var(--background-color);
  box-sizing: border-box;
}

#bookmarks > .text {
  width: 4%;
}

#browser {
  display: flex;
  flex-direction: row;
  flex: 4;
  background-color: var(--background-color);
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--text-gap);
  flex: 1;
  background-color: var(--background-color);
  width: 20%;
  padding-top: 2%;
  box-sizing: border-box;
}

#ntp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex: 4;
  background-color: var(--background-color);
}

#ntp_search {
  background-color: color-mix(
    in srgb,
    currentColor 13%,
    var(--background-color)
  );
  border-radius: var(--radius);
  width: 50%;
  height: 8%;
}

#ntp_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 20%;
}

.ntp_cards_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  gap: 5%;
}

.ntp_card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
}

.ntp_card {
  background-color: color-mix(
    in srgb,
    currentColor 13%,
    var(--background-color)
  );
  border-radius: var(--radius);
  width: 70%;
  aspect-ratio: 1/1;
}

.ntp_card_wrapper .text {
  width: 70%;
}

.text {
  background-color: var(--color);
  border-radius: var(--radius);
  height: 3px;
  width: 80%;
}
