#firefox {
  --group-shadow: 0px 0px 8px 4px var(--color);
  --toolbar-button-shadow: 0px 0px 4px 2px var(--color);
  --transition-s: 0.2s;

  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: var(--radius);
  width: var(--body-width);
  aspect-ratio: 16 / 9;
  background-color: var(--background-color);
}

.group {
  border: 1px solid;
  transition: box-shadow var(--transition-s);
}

.group:hover:not(:has(.group:hover, .toolbar_button:hover)) {
  box-shadow: var(--group-shadow);
  z-index: 1;
}

#navigator {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}

#titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px 5px;
  background-color: var(--background-color);
}

#tab_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 10%;
  height: 90%;
  background-color: var(--background-color);
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
}

#toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px;
  gap: 5px;
  background-color: var(--background-color);
}

.toolbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 90%;
  aspect-ratio: 1 / 1;
  color: var(--color);
  transition: box-shadow var(--transition-s);
}

body:has(.toolbar_button:hover) .toolbar_button {
  box-shadow: var(--toolbar-button-shadow);
  z-index: 1;
}

.toolbar_button > svg {
  height: 80%;
}

.placeholder {
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

#toolbar_field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 2px;
  width: 50%;
  height: 90%;
  background-color: var(--background-color);
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

#popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 18%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius);
  right: calc(0% + 1px);
  top: calc(100% - 1px);
  background-color: var(--background-color);
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  z-index: 2;
  box-sizing: border-box;
}

#popup.hidden {
  display: none;
}

#bookmarks {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.5;
  padding: 2px;
  gap: 5px;
  background-color: var(--background-color);
}

#browser {
  display: flex;
  flex-direction: row;
  flex: 3.5;
  background-color: var(--background-color);
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
  width: 20%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  box-sizing: border-box;
}

#ntp {
  display: flex;
  flex: 4;
  background-color: color-mix(in srgb, currentColor 13%, transparent);
}

#rickroll {
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

.text {
  overflow: hidden;
}

.text > .label {
  font-size: 7px;
}
