html {
  --page: var(--background-color);
  --frame: var(--background-color);
  --tab_selected: var(--background-color);
  --tab_text: var(--color);
  --tab_line: var(--color);
  --toolbar: var(--background-color);
  --toolbar_text: var(--color);
  --toolbar_top_separator: var(--color);
  --toolbar_bottom_separator: var(--color);
  --toolbar_field: var(--background-color);
  --toolbar_field_text: var(--color);
  --toolbar_field_border: var(--color);
  --icons: var(--color);
  --popup: var(--background-color);
  --popup_text: var(--color);
  --popup_border: var(--color);
  --sidebar: var(--background-color);
  --sidebar_text: var(--color);
  --sidebar_border: var(--color);
  --ntp_background: var(--background-color);
  --ntp_card_background: color-mix(
    in srgb,
    currentColor 13%,
    var(--background-color)
  );
  --ntp_text: var(--color);
}

#firefox {
  --group-shadow: 0px 0px 8px 4px var(--color);
  --toolbar-button-shadow: 0px 0px 4px 2px var(--color);
  --transition-s: 0.2s;
  --text-gap: 6px;

  display: flex;
  flex-direction: column;
  border: 2px solid var(--color);
  border-radius: var(--radius);
  width: var(--body-width);
  aspect-ratio: 16 / 9;
  background-color: var(--background-color);
}

.group {
  transition: box-shadow var(--transition-s);
}

.group:hover:not(:has(.group:hover, .toolbar_button:hover)) {
  box-shadow: var(--group-shadow);
  z-index: 1;
}

#navigator {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 2px;
  background-color: var(--background-color);
}

#titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: var(--frame);
  box-sizing: border-box;
}

#tab_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 10%;
  height: 90%;
  background-color: var(--tab_selected);
  border: 1px solid var(--tab_line);
}

#tab_selected > .text {
  background-color: var(--tab_text);
}

#toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 2px 5px 2px 5px;
  gap: 5px;
  background-color: var(--toolbar);
  border-top: 1px solid var(--toolbar_top_separator);
  border-bottom: 1px solid var(--toolbar_bottom_separator);
  box-sizing: border-box;
}

.toolbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 90%;
  aspect-ratio: 1 / 1;
  color: var(--icons);
  transition: box-shadow var(--transition-s);
}

body:has(.toolbar_button:hover) .toolbar_button {
  box-shadow: var(--toolbar-button-shadow);
  z-index: 1;
}

.toolbar_button > svg {
  height: 80%;
}

.placeholder {
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

#toolbar_field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 2px;
  width: 50%;
  height: 90%;
  background-color: var(--toolbar_field);
  border: 1px solid var(--toolbar_field_border);
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

#toolbar_field > .text {
  background-color: var(--toolbar_field_text);
}

#popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--text-gap);
  position: absolute;
  width: 18%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius);
  right: calc(0% + 1px);
  top: calc(100% - 1px);
  background-color: var(--popup);
  border: 1px solid var(--popup_border);
  padding-top: 2%;
  z-index: 2;
  box-sizing: border-box;
}

#popup > .text {
  background-color: var(--popup_text);
}

#popup.hidden {
  display: none;
}

#browser {
  display: flex;
  flex-direction: row;
  flex: 6;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--text-gap);
  flex: 1;
  background-color: var(--sidebar);
  border-right: 1px solid var(--sidebar_border);
  width: 20%;
  padding-top: 2%;
  box-sizing: border-box;
}

#sidebar > .text {
  background-color: var(--sidebar_text);
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex: 4;
  background-color: var(--page);
  background-image: repeating-linear-gradient(
    -45deg,
    color-mix(in srgb, var(--page_text) 0%, transparent) 0 10px,
    color-mix(in srgb, var(--page_text) 5%, transparent) 10px 20px
  );
}

#ntp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex: 4;
  background-color: var(--ntp_background);
}

#ntp_search {
  background-color: var(--ntp_card_background);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius);
  width: 50%;
  height: 8%;
}

#ntp_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 20%;
}

.ntp_cards_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  gap: 5%;
}

.ntp_card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
}

.ntp_card {
  background-color: var(--ntp_card_background);
  border-radius: var(--radius);
  width: 70%;
  aspect-ratio: 1/1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.ntp_card_wrapper .text {
  background-color: var(--ntp_text);
  width: 70%;
}

.text {
  border-radius: var(--radius);
  height: 3px;
  width: 80%;
}
