html {
  --background-color: #f0f0f4; /* light 20 */
  --color: #42414d; /* dark 30 */
  --radius: 4px;
  --option-height: 24px;
  --font-family: monospace;
  --body-width: 500px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
  background-color: var(--background-color);
  color: var(--color);
  position: relative;
  font-family: var(--font-family);
  max-width: var(--body-width);
}

/* Hide all options if disabled */

body:has(#global_enabled[data-value="false"]) {
  #global_foreground_options,
  #global_background_options,
  #global_triggers_options,
  #global_favicon_options,
  #global_page_options {
    display: none;
  }
}

/* Hide global foreground options if source is auto */

body:has(#global_foreground_source[data-value="AUTO"]) {
  #global_foreground_color,
  #global_foreground_saturation_limit,
  #global_foreground_darkness,
  #global_foreground_brightness {
    display: none;
  }
}

/* Hide global options if source is color */

body:has(#global_background_source[data-value="COLOR"]) {
  #global_background_saturation_limit,
  #global_background_darkness,
  #global_background_brightness {
    display: none;
  }
}

body:has(#global_foreground_source[data-value="COLOR"]) {
  #global_foreground_saturation_limit,
  #global_foreground_darkness,
  #global_foreground_brightness {
    display: none;
  }
}

/* Hide global color option if source is not color */

body:not(:has(#global_background_source[data-value="COLOR"])) {
  #global_background_color {
    display: none;
  }
}

body:not(:has(#global_foreground_source[data-value="COLOR"])) {
  #global_foreground_color {
    display: none;
  }
}
