.spoiler {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 4px;
  cursor: default;
  background-color: color-mix(in srgb, currentColor 13%, transparent);
  border-radius: var(--radius);
  border: 1px solid;
  height: var(--option-height);
}

.spoiler:hover {
  background-color: color-mix(in srgb, currentColor 17%, transparent);
}

.spoiler_label {
  white-space: nowrap;
}

.spoiler_popup {
  position: absolute;
  display: flex;
  gap: 4px;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.spoiler_popup .option {
  background-color: var(--background-color);
  color: var(--color);
  box-shadow: 0px 0px 8px 1px var(--color);
}